@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

.inborder {
  max-width: 1400px;
  width: 100%;
  padding: 50px 100px 0 100px;
  margin: 0 auto;
}

.shape-container{
  position:relative;
  max-width: 1400px;
  width: 100%;
	height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.GreyDiv {
	max-width: 1400px;
  width: 100%;
	height: 100%;
  background-color: #34373E; 
  clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
}

.shape-right{
  position:absolute;
  left: 550px;
  bottom:0;
  max-width: 753px;
  width: 100%;
	height: 80%;
	background-image: url('/img/Phone_mockup_2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


.GreyDiv h1 {
  max-width: 600px;
  width: 100%;
}


.box1-title {
  font-size: 50px;
  color: #fff;
  font-family: 'Schibsted Grotesk', sans-serif;
  margin-bottom: 15px;
}

.GreyDiv p {
  color: #fff;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 28px;
}

.boxbutton1 {
  color: #fff;
  background-color: #D84B4B;
  border-radius: 32px;
  max-width: 160px;
  width: 100%;
  height: 55px;
  margin-right: 40px;
}

.boxbutton2 {
  color: #fff;
  background-color: #6A8BD6;
  border-radius: 32px;
  max-width: 160px;
  width: 100%;
  height: 55px;
}

.boxbutton1, .boxbutton2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.boxbuttons {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.navbar-ul ul {
  display: flex;
}

.navbar-ul ul li {
  margin-left: 60px;
  font-size: 15px;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.navbar-title h1 {
  color: #fff;
  font-family: 'Asap', sans-serif;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* END NAVIGATION */





/* SECTION 1*/

.section-title h1 {
  font-size: 40px;
  font-family: 'Schibsted Grotesk', sans-serif;
  margin-bottom: 11px;
}

.section-title p {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  opacity: 50%;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section1-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.section1-box h3 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-bottom: 9px;
}

.section1-box img {
  margin-bottom: 17px;
}

.section1-box p {
  font-size: 16px;  
  font-family: "Lato", sans-serif;
  opacity: 50%;
  max-width: 195px;
  width: 100%;
  line-height: 1.3;
}

.sec p {
  max-width: 157px;
  width: 100%;
}

.third p {
  max-width: 180px;
  width: 100%;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 185px;
}

/* END SECTION 1 */




/* SECTION 2 */

.section2 {
  margin-bottom: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 380px;
}

.section2box {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 232px;
  width: 100%;
  height: 370px;
  border-radius: 6px;
  box-shadow: rgba(136, 136, 136, 0.35) 0px 5px 15px; 
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  transition: all .5s;
}

.section2box h3 {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.section2-h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 1px 0px  rgba(0, 0, 0, 0.35);

}

.section2-h3 {
  max-width: 232px;
  width: 100%;
  background-color: #f7f7f7f7;
  height: 80px;
}


.section2box ul li {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  line-height: 2.0;
}

.section2box:hover,
.section2box:active {
  height: 375px;
  transition: all .5s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(-1.2rem);
}

.nintheendollar {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.section2button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D84B4B;
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 24px;
}

.section2button p {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 15px;
}





/* END SECTION 2 */
